<div class="ui container">
  <div class="ui two column grid wrapper">
    <div class="four wide column left-frame">
    <div class="ui middle aligned two column centered grid">
      <img class="ui circular image column" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-atn1/v/t1.0-9/11295772_10153266593998851_296289385972497539_n.jpg?oh=858f9526e098e774a7bb0f1c23c33254&oe=5639E7DD"/>
    </div>
    <div class="ui middle aligned three column centered grid">
      <div class="column">GITHUB</div>
      <div class="column">LAST.FM</div>
      <div class="column">facebook</div>
      <div class="column">GITHUB</div>
      <div class="column">LAST.FM</div>
      <div class="column">facebook</div>
      <div class="column">GITHUB</div>
      <div class="column">LAST.FM</div>
      <div class="column">facebook</div>
    </div>
  </div>
    <div class="twelve wide column content-frame">
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p><p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
    </div>
  </div>
</div>
