<div class="ui equal width grid wrapper">
  <div class="row">
    <div class="red four wide column box">This is red.</div>
    <div class="blue eight wide column box">This is blue.</div>
    <div class="red four wide column box">This is red.</div>
    <div class="blue one wide column box">This is blue.</div>
  </div>
</div>
